@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1 {
    font-family: 'Poppins', 'sans-serif';
    color: red;
}

.login-heading {
    color: rosybrown;
}

* {
    background: rgb(255, 32, 32);
}